<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<header>
        <h1>Playlist uzunlu[u hesaplayici</h1>
</header>
<section>
    <h2>1d 12h 30m</h2>
</section>
<section>
    <form action="">
        <input type="text">
        <input type="submit" name="" id="">
    </form>
</section>
<section>
    <h2>ADVERT</h2>
</section>
<section>
    <div>
        <div>x1.25</div>
        <div>x1.5</div>
        <div>x1.75</div>
        <div>x2</div>
    </div>
</section>



</body>
</html>